#loginScreenManager+*{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--screenWidth);
    height: var(--screenHeight);
}

#loginScreenManager+*>*{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: var(--theme-color-1);
    border-radius: 15px;
}

#loginScreenManager+*>*>*{
    text-align: center;
    background-color: var(--theme-color-2);
    border: none;
}
